<!DOCTYPE html>
<html>
<head>
  <title>Webpack Rails</title>
  <% stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<div id="list"></div>

  <%= javascript_include_tag '/assets/bundle' %>
</body>
</html>
