<!DOCTYPE html>
<html>
<head>
  <title>Webpack Rails</title>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<div id="list"></div>

  <%= javascript_include_tag '/assets/bundle' %>
</body>
</html>
